<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Walut</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='currencies.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista <span>Walut</span></h1>
        <div class="box">
            <h2><span>ID tabeli:</span> {{ id_collection }}</h2>
            <h2><span>Data publikacji:</span> {{ timestamp }}</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nazwa Waluty</th>
                    <th>Kod Waluty</th>
                    <th>Kurs</th>
                </tr>
            </thead>
            <tbody>
                {% for currency in currencies %}
                <tr>
                    <td>{{ currency.get_name() }}</td>
                    <td>{{ currency.get_code() }}</td>
                    <td>{{ currency.get_rate() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="back_to_main" href="{{ url_for('index') }}">Powrót do strony głównej</a>
    </div>
</body>
</html>
