<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Hopstarter-Soft-Scraps-Coin.ico') }}">
    <title>Currency Exchange</title>
</head>
<body>
    <main>
        <div class="box">
            <h1>Currency <span>Exchanger</span></h1>
            <form action="/exchange" method="post">
                <label for="from_currency">From:</label>
                <select name="from_currency" id="from_currency">
                    {% for currency in currency_collection %}
                        <option value="{{ currency.get_code() }}">{{ currency.get_name() }}</option>
                    {% endfor %}
                </select>

                <label for="to_currency">To:</label>
                <select name="to_currency" id="to_currency">
                    {% for currency in currency_collection %}
                        <option value="{{ currency.get_code() }}">{{ currency.get_name() }}</option>
                    {% endfor %}
                </select>

                <label for="amount">Amount:</label>
                <input type="number" name="amount" id="amount" step="0.01" required>

                <button type="submit">Exchange</button>
            </form>
                <a class="currency_list-link" href="{{ url_for('currencies') }}">Currencies list</a>

            <form method="POST" action="/load_file">
                <button type="submit">Load Data from File</button>
            </form>

            <form method="POST" action="/load_api">
                <button type="submit">Load Data from API</button>
            </form>
        </div>
    </main>
</body>
</html>
