<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currency Exchanger</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
</head>
<body>
    <h1>Currency Exchange</h1>
    <form action="/exchange" method="POST">
        <label for="from_currency">From Currency:</label>
        <select name="from_currency" id="from_currency">
            {% for currency in currencies %}
            <option value="{{ currency.code }}">{{ currency.name }} ({{ currency.code }})</option>
            {% endfor %}
        </select>

        <label for="to_currency">To Currency:</label>
        <select name="to_currency" id="to_currency">
            {% for currency in currencies %}
                <option value="{{ currency.code }}">{{ currency.name }} ({{ currency.code }})</option>
            {% endfor %}
        </select>

        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" step="0.01" required>

        <button type="submit">Exchange</button>
    </form>
</body>
</html>